{% extends 'index.html' %}

{% block contenido %}
{% load static %}
{% if personaform.errors %}
  <div class="alert alert-danger">
    {% for field_errors in personaform.errors.values %}
      {% for error in field_errors %}
        {{ error }}
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
<form method="POST" class="post-form" action="/persona/actualizar/{{persona.id}}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3><i class="fa fa-group"></i> Actualizar Persona</h3>
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-address-card"></i> Id:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="id" id="id" required maxlength="13" value="{{persona.id}}"/> 
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-user"></i> Nombre:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="nombre" id="nombre" required maxlength="13" value="{{persona.nombre}}"/> 
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-navicon"></i> Nacimiento:</label>
            <div class="col-sm-4">
                <input class="form-control" type="date" name="nacimiento" id="nacimiento" required value="{{persona.nacimiento|date:'Y-m-d'}}"> 
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-navicon"></i> Pais:</label>
            <div class="col-sm-4">
                <select class="form-control" name="nacionalidad" id="nacionalidad">
                    {% for p in paises %}
                         {% for c in pais %}
                            {% if p.nombre == c.nacionalidad__nombre %}
                                <option selected value="{{p.id}}">{{p.nombre}}</option>
                            {% else %}
                                <option value="{{p.id}}">{{p.nombre}}</option>
                            {% endif %}
                         {% endfor %}
                   {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-navicon"></i> Nacionalidad:</label>
            <div class="col-sm-4">
                {% for p in pais %}
                         <input class="form-control" type="text" name="nac" id="nac" readonly value="{{p.nacionalidad__nacionalidad}}"> 
                {% endfor %}
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-6 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Grabar</button>
            </div>
        </div>
    </div>
</form>
{% endblock contenido %}
